/* .nav-container {
    display: flex;
    justify-content: space-between;
} */

/* .entire-nav {
    position: fixed;
    width: 100%;
} */

.entire-nav {
    position: sticky;
    top: 0;
    z-index: 99;
}

.upper-nav {
    background-color: rgb(145, 230, 48);
    display: flex;
    align-items: center;
}

.title-name {
    text-align: center;

}

.app-name {
    font-family: "coolvetica";
    font-size: 2.5rem;
    color: white;
}

