/* .nav-container {
    display: flex;
    justify-content: space-between;
} */

.upper-nav {
    background-color: rgb(145, 230, 48);
}

.title-name {
    text-align: center;
}

.app-name {
    font-family: "coolvetica";
    font-size: 2.5rem;
    color: white;
}

