.login-page {
    background: rgb(108,230,49);
    background: linear-gradient(180deg, rgba(108,230,49,1) 0%, rgba(182,245,112,1) 79%); 
    position: fixed;    
    top: 0;    
    left: 0;    
    right: 0;   
    bottom: 0;   
    min-width: 100%;  
    min-height: 100%; 
    overflow: auto;
}

.img-col {
    text-align: center;
}

.messenger-page-header-text, .propose-container, .requests-container {
    margin-top: 10px;
    text-align: center;
}

/* .send-message-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
} */

.send-message-footer {
    padding: 20px;
    background-color: #91e631;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* position: fixed; */
    bottom: 0;
}

.message-from-me {
    background-color: #92e63160;
    font: white;
}

.sent-message {
    margin: 5px;
}

.messenger-content {
    height: 450px;
}

.messages-list {
    height: 100%;
}

.message-field {
    width: 60%;
    background-color: white;
    /* border-radius: 25px; */
}

.list-item {
    background-color: green
}
